<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Moja Aplikácia{% endblock %}</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='style.css') }}"
        />
        <script
            src="{{ url_for('static', filename='script.js') }}"
            defer
        ></script>
        <script src="{{ url_for('static', filename='chat.js') }}"></script>
    </head>
    <body>
        <div class="content">{% block content %}{% endblock %}</div>
    </body>
</html>