<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Moja Aplikácia{% endblock %}</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='style.css') }}"
        />
        <script
            src="{{ url_for('static', filename='script.js') }}"
            defer
        ></script>
        <script src="{{ url_for('static', filename='chat.js') }}"></script>
    </head>
    <body>
        <header>
            {% if 'username' in session %}
            <div class="level-display">
                <span>Úroveň: {{ session['level'] }}</span>
            </div>
            <form class="logout-form" action="{{ url_for('auth.logout') }}" method="post">
                <button type="submit">Odhlásiť sa</button>
            </form>
            {% endif %}
        </header>
        <div class="content">{% block content %}{% endblock %}</div>
    </body>
</html>