{% extends "base/base.html" %}
{% block title %}PK Auto{% endblock %}

{% block content %}
<div class="nav-container">
    <button id="back-button" class="backbutton">←</button>
    <div class="dropdown">
        <i id="dropdown-button" class="fa-solid fa-gear"></i>
    </div>
</div>
<div class="chat-container">
    <div id="chat-box" class="chat-messages"></div>
    <div class="message-input-container">
        <input type="text" id="user-input" placeholder="Tu napíšte svoju správu...">
        <button id="send-button">Poslať</button>
    </div>
</div>
<script>
    const username = "{{ username }}"; 
    const userLevel = "{{ level }}"; 
    const lastWelcomeDate = "{{ last_welcome_date }}"; 
</script>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"/>
{% endblock %}

{% block scripts %}
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='chat.js') }}"></script>
{% endblock %}