{% extends "base/base.html" %}
{% block title %}PK Auto{% endblock %}

{% block content %}
<div class="nav-container">
    <div class="user-level">
        <span>Úroveň: {{ userLevel }}</span>
    </div>
    <div class="dropdown">
        <i id="dropdown-button" class="fa-solid fa-gear"></i>
    </div>
</div>
<div class="chat-container">
    <div id="chat-box" class="chat-messages"></div>
    <div class="message-input-container">
        <input type="text" id="user-input" placeholder="Tu napíšte svoju správu...">
        <button id="send-button">Poslať</button>
        <button id="open-menu-button" style="display:none;">Otvoriť menu</button>
    </div>
</div>
<div id="settings-modal" class="modal">
    <div class="modal-content">
        <span id="close-settings-button" class="close-button">&times;</span>
        {% include 'settings.html' %}
    </div>
</div>
<script>
    const username = "{{ username }}"; 
    const userLevel = "{{ level }}"; 
    const lastWelcomeDate = "{{ last_welcome_date }}"; 
</script>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"/>
{% endblock %}

{% block scripts %}
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
<script type="module" src="{{ url_for('static', filename='chat.js') }}"></script>
{% endblock %}