{% extends "base/base.html" %}

{% block title %}Settings{% endblock %}

{% block content %}
<div class="settings-container">
    <button id="back-button">← Vrátiť sa</button>

    <div class="toggle-container">
        <h2>Tmavý režim:</h2>
        <label class="switch">
            <input type="checkbox" id="dark-mode-toggle">
            <span class="slider round"></span>
        </label>
    </div>
    <h2>Vyber si tému aplikácie:</h2>
    <div class="theme-selection">
        
        <div class="theme-box" id="theme-orange" style="background-color: #FFA500;">Oranžová</div>
        <div class="theme-box" id="theme-blue" style="background-color: #2196F3;">Modrá</div>
        <div class="theme-box" id="theme-green" style="background-color: #4CAF50;">Zelená</div>
        <div class="theme-box" id="theme-red" style="background-color: #FF0000;">Červená</div>
        <div class="theme-box" id="theme-purple" style="background-color: #800080;">Fialová</div>
    </div>

    <button id="logout-button">Odhlásiť sa</button>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock %}