{% extends "base/base.html" %}

{% block title %}Vítajte!{% endblock %}

{% block content %}
<div class="container">
    <div class="login-container">
        <h1>Vítaj</h1>
        <p>Prosím, zadaj svoj 5-ciferný kód na pokračovanie. Ak máš nejaké problémy s prihlásením, kontaktuj svojho manažéra.</p>
        <form id="login-form" action="{{ url_for('auth.auth_login') }}" method="post">
            <div class="pin-inputs">
                {% for i in range(1, 6) %}
                <input type="number" maxlength="1" class="pin-input" id="pin{{ i }}" name="pin{{ i }}" required>
                {% endfor %}
            </div>
            <button type="submit" id="login-button">Pokračovať</button>
        </form>
    </div>
</div>
{% endblock %}