{% extends "base/base.html" %}

{% block title %}Welcome!{% endblock %}

{% block content %}
<div class="container">
    <div class="login-container">
        <h1>Welcome</h1>
        <p>Please enter your 5-digit PIN to continue.<br>If you have any issues logging in, contact your manager.</p>
        <form id="loginForm" action="{{ url_for('auth.auth_login') }}" method="post">
            <div class="pin-inputs">
                {% for i in range(1, 6) %}
                <input type="text" maxlength="1" name="pin{{ i }}" required>
                {% endfor %}
            </div>
            <button type="submit">Continue</button>
        </form>
    </div>
</div>
{% endblock %}
